hoist-workspace-packages=true
shared-workspace-lockfile=true
auto-install-peers=true
registry=https://registry.npmmirror.com/
link-workspace-packages=deep
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=esbuild
public-hoist-pattern[]=stylelint*
